.btn {
    cursor: pointer;
    font-size: 1.6rem;
    line-height: 4.5rem;
    position: relative;
    text-transform: uppercase;
    max-width: 16rem;
    text-decoration: none;
    text-align: center;
    width: 100%;
}

.btn-1 {
    border: .4rem solid white;
    border-radius: 100rem;
    color: white;
}