.homepage {
    // shape
    height: 100vh;
    width: 100%;

    // colour
    background-color: $primary-color;
    clip-path: ellipse(100% 61% at 50% 23%);

    // position
    position: absolute;
    top: 0;
    z-index: -1;

    
    &_content {
        @media (max-width: 768px) {
            width: 100%;
        }

        width: 50%;
        height: auto;

        display: flex;
        align-items: baseline;

        // position
        position: relative;
        top: 15rem;
        left: 2rem;
        padding-right: 2rem;
        

        &_heading {
            display: inline-block;
            height: 100%;
            width: auto;
            
            color: #ffffff;
            font-size: 3rem;
        }
    }
}