//floating label

.floating-input {
    border-bottom: 1px solid black;
    position: relative;
    margin: 2rem;

    input {
        border: none;
        outline: 0;
        font-size: 1.6rem;
        width: 100%;
        transition: .2s;
    }

    label {
        position: absolute;
        font-size: 1.6rem;
        transition: 0.2s;
    }

    input:focus {
        border-bottom: 2px solid $primary-color;
    }

    input:not(:placeholder-shown) + label{
        transform: translateY(-100%) scale(.75);
        transform-origin: top left;
    }
}