@import '../../styles.scss';

.navbar {
    display: block;
    position: relative;
    height: 48px;
    width: 100%;
    top: 0;
    background-color: $green;
}

.login-btn-container {
    position: relative;
    right: 0;
}